---
---

// For some reason the very first thing is disregarded?
.dummy {
  background-color: red;
}

/* Custom Profile Callout */
.profile-callout {
  display: flex !important; /* Force flexbox layout */
  align-items: center;
  gap: 1.5rem;
  padding: 1.25rem;
  background-color: var(--body-background-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  // margin: 1.5rem 0;

  @media (max-width: 600px) {
    flex-direction: column;
    text-align: center;
  }
}

.profile-pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--border-color);
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile-name {
  margin: 0 !important;
  font-size: 1.25rem;
}

.profile-links {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    justify-content: center;
  }
}

.custom-tags {
  display:flex;
  gap:0.5rem;
  margin-bottom: -0.75rem;
}

.custom-tag { // Set together with a color tag below
  width:auto;
  padding:0rem 0.5rem;
  border-radius:1rem;
  font-size: smaller;
  font-weight: 650;
}
.custom-tag.unique {
  background-color: darkviolet;
}
.custom-tag.rig {
  background-color: palevioletred;
}
.custom-tag.material {
  background-color: teal;
}
.custom-tag.mesh {
  background-color: navy;
}
.custom-tag.poses {
  background-color: steelblue;
}
.custom-tag.hdri {
  background-color: darkgoldenrod;
}

// Make regular highlight BG less intense
.highlight {
  background: #0d111740;
}