---
---

// For some reason the very first thing is disregarded?
.dummy {
  background-color: red;
}

/* ########## TWEAKS ########## */

// Make regular highlight BG less intense
.highlight {
  background: #0d111740;
}

// Make list items be spaced a bit farther apart for better legibility
.main-content li {
  margin: 0.5rem 0;
}

// Make the alt-text window in lightboxes have a dark background and be offset slightly from the image itself
.gslide-description {
  background: #111 !important;
  margin-top: 1rem !important;
}

// Make text in main content justified (depending on the html element it's in)
.main-content p, .main-content li {
  text-align: justify;
}

// Center the Blendwalker logo
.site-logo {
  background-position: center;
}



/* ########## AUTHOR STUFF ########## */
.author-callout {
  display: flex !important; /* Force flexbox layout */
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem;
  background-color: var(--body-background-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  // margin: 1.5rem 0;
  text-decoration: inherit;
  color: inherit;

  @media (max-width: 600px) {
    flex-direction: column;
    text-align: center;
  }
}

.author-profile-pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--border-color);
}

.author-info {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.author-name {
  margin: 0 !important;
  font-size: 1.25rem;
}

.author-role {
  margin: 0 !important;
  font-size: 1rem;
  opacity: 0.75;
}

.author-links {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    justify-content: center;
  }
}



/* ########## ABOUT PAGE STUFF ########## */
.about-bio {
  display:block;
  padding-left:1.5rem;
  margin-top:0.75rem;
  font-style:italic;
}
.about-bio br {
  margin-bottom:0.5rem;
}
.about-links {
  display:flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding-left:1.5rem;
}
.about-links a {
  text-decoration: none;
}
.about-links a:hover {
  text-decoration: underline;
}



/* ########## CUSTOM TAGS ########## */
.custom-tags {
  display:flex;
  gap:0.5rem;
  margin-bottom: -0.75rem;
}

.custom-tag { // Set together with a color tag below
  width:auto;
  padding:0rem 0.5rem;
  border-radius:1rem;
  font-size: smaller;
  font-weight: 650;
  background-color: gray;
}
.custom-tag.unique {
  background-color: darkviolet;
}
.custom-tag.rig {
  background-color: palevioletred;
}
.custom-tag.material {
  background-color: teal;
}
.custom-tag.mesh {
  background-color: navy;
}
.custom-tag.poses {
  background-color: steelblue;
}
.custom-tag.hdri {
  background-color: darkgoldenrod;
}
.custom-tag.environment {
  background-color: darkgreen;
}
.custom-tag.character {
  background-color: darkcyan;
}



/* ########## MISC ########## */
.image-credit {
  line-height: 0;
  font-size: 0.5rem;
  height:0.5rem;
  text-align: center !important;
  color:gray;
}
.image-credit a {
  color:inherit;
}