{% include author_footer.html %}

<!-- Lightbox -->
<script type="text/javascript">
    function initLightbox() {
        console.log("Lightbox Init");
        const images = document.querySelectorAll(".main-content img:not(.no-lightbox)");

        images.forEach((img) => {
            const link = document.createElement("a");
            link.className = "glightbox";
            link.href = img.src;
            link.style.display = "contents";

            if (img.alt) {
                link.setAttribute("data-description", img.alt);
            };

            img.parentNode.insertBefore(link, img);
            link.appendChild(img);
        });

        const lightbox = GLightbox({
            selector: '.glightbox'
        });
    }

    if (document.readyState === "loading") {
        document.addEventListener("DOMContentLoaded", initLightbox);
    } else {
        initLightbox();
    };
</script>


<!-- WIP Label -->
 {% if page.is_wip == true %}
<script>
    let template = document.createElement("template");
    template.innerHTML = '<div style="display: inline-block; background-color: #f63b3b38; color: #fff; padding: 0.5rem 1rem 0.4rem 1rem; text-align: center; border-radius: 1rem; font-size:0.75rem; font-weight:bold;">THIS PAGE IS A WORK IN PROGRESS</div>';
    let wipElement = template.content.firstChild;
    document.querySelector("#main-content").prepend(wipElement);
</script>
{% endif %}